@model AuthenticatorViewModel
@{
    ViewData["Title"] = "TwoFactorAuth";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>İki Adımlı Kimlik Doğrulama</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="TwoFactorAuth" method="post">

            <div class="form-group">
                <label asp-for="TwoFactorType" class="control-label"></label>
                <select class="form-control" asp-for="TwoFactorType" asp-items="Html.GetEnumSelectList<TwoFactor>()">
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Güncelle" />
            </div>


        </form>
    </div>
    <br />
    <br />
    @if (ViewBag.warning != null)
    {
        <div class="col-md-12">
            <div class="alert alert-warning">
                @ViewBag.warning
            </div>
        </div>
    }
    @if (TempData["message"] != null)
    {
        <div class="col-md-12">
            <div class="alert alert-info">
                @TempData["message"]
            </div>
        </div>
    }

</div>